* {
  margin: 16px;
  background-color: rgb(53, 50, 50);
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 20rem;
  list-style: none;
  margin: 8px;
  padding: 10px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
  justify-content: space-between;
  align-items: flex-start;
}

p {
  padding: 0;
  margin: 0;
}

.starship-name {
  font-weight: 800;
}

.starship-info-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  margin: 0;
}

.starship-info {
 
  margin: 0;
  padding: 0;
  gap: 0;
  font-size: 0.7rem;
  color: rgba(185, 185, 185, 0.8);
}

.starship-info-label {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  color: rgba(185, 185, 185, 0.8);
  font-weight: 800;
}