* {
  margin: 16px;
  background-color: rgb(53, 50, 50);
  color: white;
}

ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

li {
  width: 8rem;
  height: 8rem;
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}